.body-content {
	position: relative;

	width: 100%;

	// margin-block: 1em;

	.search-bar,
	.left,
	.right {
		display: flex;
		align-items: center;
		background-color: rgb(255, 255, 255, 0.98);
	}
	.blur-effect {
		min-height: 20px;
		position: sticky;
		width: 100%;
		z-index: 199;

		backdrop-filter: saturate(200%) blur(6px);
		// background-color: ;

		top: 0;
	}
	.search-bar,
	.body-content-cards {
		max-width: 75vw;
		margin-inline: auto;
		width: 100%;
	}
	.search-bar {
		justify-content: space-between;
		position: sticky;
		width: 100%;
		filter: blur(0.3px);
		z-index: 99;

		padding: 0.6em 1em;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		border-radius: 7px;

		top: 20px;

		box-icon {
			width: 30px;
			height: 100%;
			cursor: pointer;
		}

		.left {
			max-width: 200px;
			width: 100%;
			gap: 1em;
			box-icon {
				width: 35px;
			}
			button {
				background: none;
				border: none;
				font-size: 1rem;
				font-weight: 500;
				font-family: sans-serif;
				color: #a5a3ae;
				cursor: pointer;
			}
		}

		.right {
			gap: 0.3em;

			.right-img-profile {
				height: 30px;
				object-fit: contain;
				max-width: 40px;
				cursor: pointer;
			}
		}
	}

	.body-content-cards {
		// height: 1000px;
		padding-inline: 0.8em;
		display: grid;
		row-gap: 3em;
		.row-1 {
			padding-top: 8em;
			display: grid;
			grid-template-columns: 2fr 1fr;
			.card-1 {
				display: grid;

				row-gap: 1em;
				max-width: 750px;
				border-right: 1px solid rgba(0, 0, 0, 0.1);
				h1 {
					color: #5d596c;
					font-weight: 500;
				}
				p {
					max-width: 450px;
					color: #807c8d;
				}
				.card-1-inner-grid {
					display: grid;
					grid-template-columns: 1fr 1fr 1fr;
					column-gap: 1em;

					width: 100%;
					max-width: 750px;
					.grid-item-1 {
						display: grid;
						grid-template-columns: 60px 1fr;
						max-width: 190px;

						align-items: center;
						justify-content: space-evenly;
						justify-items: baseline;

						.img img {
							height: 100%;
							width: 50px;
						}
						.content {
							display: grid;
							grid-template-columns: 1fr;
							row-gap: 0.3em;
							width: max-content;

							&-title {
								color: #807c8d;
							}
							&-hours {
								font-size: 1.5rem;
								color: #7367f0;
							}
							&-hours-2 {
								color: #e0b714;
							}
							&-hours-3 {
								color: #06d168;
							}
						}
					}
				}
			}
			.card-2 {
				display: grid;
				grid-template-columns: 1fr 1fr;
				// align-content: center;

				&-right {
					align-self: center;
				}
				&-left {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					padding-inline: 0.7em;
					.headings {
						display: flex;
						flex-direction: column;
						gap: 1em;
						font-size: 0.9rem;

						h3 {
							font-weight: 500;
						}
					}
					.footers {
						display: flex;
						flex-direction: column;
						gap: 0.5em;
						.time {
							font-size: 1.7rem;
							span {
								color: #a5a3ae;
							}
						}
						.badge-green {
							background-color: #dff7e9;
							color: #48d084;
							padding: 0.5em 1em;
							width: max-content;
							font-size: 0.7rem;
						}
					}
				}
			}
		}
		.row-2 {
			display: grid;
			grid-template-columns: 2fr 1fr;

			column-gap: 1em;
			.card {
				background-color: white;
				box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
				border-radius: 6px;
			}
			.card-1 {
				width: 100%;

				padding: 1.5em 1em;
				display: grid;
				row-gap: 2em;
				&-header {
					display: flex;
					justify-content: space-between;
					align-items: center;
				}
				&-body {
					display: grid;
					grid-template-columns: 1fr 1fr;

					&-cards {
						display: grid;
						grid-template-columns: 1fr 1fr;
						padding: 1em 1.5em;
						gap: 1.5em;

						.one {
							display: flex;
							align-items: baseline;
							gap: 0.6em;

							.dot {
								width: 10px;
								height: 10px;
								background-color: #7367f0;
								border-radius: 50px;
							}
							.dot-2 {
								background: #00cfe8;
							}
							.dot-3 {
								background: #28c76f;
							}
							.dot-4 {
								background: #a8aaae;
							}
							.dot-5 {
								background: #ea5455;
							}
							.dot-6 {
								background: #ff9f43;
							}
							.content {
								display: flex;
								flex-direction: column;
								gap: 0.7em;
							}
						}
					}
				}
			}
			.card-2 {
				&-headers {
					@extend .card-1-header;

					padding: 1.5em 1em;
				}
				&-body {
					.headings {
						@extend .card-1-header;
						border-top: 1px solid rgb(94, 90, 109, 0.3);
						border-bottom: 1px solid rgb(94, 90, 109, 0.3);

						h4 {
							padding: 0.8em 1.2em;
							text-transform: uppercase;
							font-weight: 500;
							font-size: 0.9rem;
						}
					}
					&-cards {
						padding-inline: 1.2em;
						padding-top: 2em;
						display: flex;
						flex-direction: column;

						gap: 1em;
						&-1 {
							display: flex;
							justify-content: space-between;
							align-items: center;
							.card-1-left {
								display: flex;
								justify-content: space-between;
								align-items: center;
								gap: 1em;
								.img img {
									height: 100%;
									width: 30px;
									border-radius: 50px;
								}
								.content {
									display: flex;
									flex-direction: column;
									.heading {
										font-size: 1rem;
										font-weight: 500;
									}
									max-width: 160px;
									font-size: 0.9rem;
								}
							}
						}
					}
				}
			}
		}
	}
}
