.body-content {
	position: relative;
	max-width: 75vw;
	width: 100%;
	margin-inline: auto;
	// margin-block: 1em;

	.search-bar,
	.left,
	.right {
		display: flex;
		align-items: center;
		background-color: white;
	}
	.search-bar {
		justify-content: space-between;
		position: absolute;
		width: 100%;

		padding: 0.6em 1em;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		border-radius: 7px;

		top: 20px;

		box-icon {
			width: 30px;
			height: 100%;
			cursor: pointer;
		}

		.left {
			max-width: 200px;
			width: 100%;
			gap: 1em;
			box-icon {
				width: 35px;
			}
			button {
				background: none;
				border: none;
				font-size: 1rem;
				font-weight: 500;
				font-family: sans-serif;
				color: #a5a3ae;
				cursor: pointer;
			}
		}

		.right {
			gap: 0.3em;

			.right-img-profile {
				height: 30px;
				object-fit: contain;
				max-width: 40px;
				cursor: pointer;
			}
		}
	}

	.body-content-cards {
		.row-1 {
			border: 1px solid red;
			padding-top: 8em;
			display: grid;
			grid-template-columns: 2fr 1fr;
			.card-1 {
				display: grid;

				row-gap: 1em;
				max-width: 750px;
				border-right: 1px solid rgba(0, 0, 0, 0.1);
				h1 {
					color: #5d596c;
					font-weight: 500;
				}
				p {
					max-width: 450px;
					color: #807c8d;
				}
				.card-1-inner-grid {
					display: grid;
					grid-template-columns: 1fr 1fr 1fr;
					column-gap: 1em;

					width: 100%;
					max-width: 750px;
					.grid-item-1 {
						display: grid;
						grid-template-columns: 60px 1fr;
						max-width: 190px;

						align-items: center;
						justify-content: space-evenly;
						justify-items: baseline;

						.img img {
							height: 100%;
							width: 50px;
						}
						.content {
							display: grid;
							grid-template-columns: 1fr;
							row-gap: 0.3em;
							width: max-content;

							&-title {
								color: #807c8d;
							}
							&-hours {
								font-size: 1.5rem;
								color: #7367f0;
							}
						}
					}
				}
			}
			.card-2 {
				display: grid;
				grid-template-columns: 1fr 1fr;
				align-content: center;
				&-left {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					padding: 1em;

					.footers {
						display: flex;
						flex-direction: column;
					}
				}
			}
		}
	}
}
