.side-menu {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	// max-width: 250px;
	width: 100%;

	height: 100vh;
	overflow-x: scroll;
	position: sticky;
	display: grid;
	left: 0;

	top: 0;
	bottom: 0;
}
// .scrollbar::-webkit-scrollbar-thumb {
// 	width: 5px;
// 	border-radius: 30px;
// 	background: #000;
// }
// .side-menu::-webkit-scrollbar-thumb {
// 	width: 0.4em;
// 	background: #000;
// }

.logo,
.logo-group {
	display: flex;
	align-items: center;
	padding: 0.6em 1.2em 0.5em 0.6em;
}
.logo {
	justify-content: space-between;
	// border: 1px solid red;
	box-shadow: 0px 19px 5px -10px rgba(255, 255, 255, 0.9);
	-webkit-box-shadow: 0px 19px 5px -10px rgba(255, 255, 255, 0.9);
	-moz-box-shadow: 0px 19px 5px -10px rgba(255, 255, 255, 0.9);
	position: sticky;
	top: 0;
	background: white;
	width: 100%;
	margin-bottom: 0.7em;
}

.logo-group {
	gap: 0.7em;

	&-text {
		font-size: 1.425rem;
		font-weight: bold;
		color: #5d596c;
	}
	&-img {
		width: 35px;
	}
}
.dashboard {
	cursor: pointer;
	.inner-list {
		display: grid;
		row-gap: 1em;
		div {
			padding-left: 2em;
			display: flex;
			gap: 1em;

			align-items: center;
			.circle {
				width: 8px;
				height: 8px;
				border: 1.5px solid #858190;
				border-radius: 50px;
			}
		}
	}
}
.side-menu-content {
	&-items {
		// padding: 0.6em 1.2em 0.5em 1.5em;
		// border: 1px solid red;
		display: grid;
	}
	&-item {
		// border: 1px solid blue;
		margin: 0.6em 0.5em 0.5em 0.5em;
		padding: 0.5em 0.5em 0.5em 1em;
		border-radius: 7px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;

		color: #858190;
		font-size: 1rem;
		.left,
		.right {
			display: flex;
			align-items: end;
			gap: 0.3em;
		}
		.right {
			align-items: center;
		}
		box-icon {
			height: 20px;
		}
		.right span {
			color: white;
			background-color: #7367f0;
			border-radius: 50px;
			font-weight: 600;
			padding: 0.3em 0.8em;
			font-size: 0.8rem;
		}
	}
}
.ps__thumb-y {
	width: 4px;
	// background-color: red;
}
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
	width: 4px;
}
.icon-rotate {
	rotate: 90deg;
}
